<html>

<div class="show_clip_container">
    <div class="display_clip">
      <%if @clip.custom_video_link.present? %>
          <video id="vdo" width="1000" height="600" controls muted>
            <source src=<%= @clip.custom_video_link%>>
              Your browser does not support the video tag.
          </video>
      <%else%>
            <%=get_video_iframe(@clip.clip_src) %>
      <%end%>

      <h3> Clip Id: <%= @clip.id %> </h3>
      <h3> Actress Id: <%= @clip.actress_id %> </h3>
      <h3> Movie: <%= @clip.movie %> </h3>
      <h3> Category: <%= @clip.clip_category %> </h3>
      <h3> Created At: <%= @clip.created_at %> </h3>
      <h3> Updated At: <%= @clip.updated_at %> </h3>
      <h3> Donload Link: <%= @clip.download_link %> </h3>
      <h3> Custom Link: <%= @clip.custom_video_link %> </h3>

      <h3> Tags: &nbsp <span style="background-color:#6495ED"> <%= @clip.clip_tag1 %> </span>
                 &nbsp <span style="background-color:#6495ED"> <%= @clip.clip_tag2 %> </span>
                 &nbsp <span style="background-color:#6495ED"> <%= @clip.clip_tag3 %> </span>
                 &nbsp <span style="background-color:#6495ED"> <%= @clip.clip_tag4 %> </span>
                 &nbsp <span style="background-color:#6495ED"> <%= @clip.clip_tag5 %> </span> </h3>
      <h3> <%= @clip.download_link %> </h3>
      </div>

      <h3> <%= link_to("Edit", edit_clip_path(@clip)) %> </h3>
</div>

</html>
